*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.main_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90vw;
  padding: 10%;
  gap: 5%;
  align-items: flex-start;
}

table{
  border: 1px solid #eee;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse
}
table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}
table td{
  padding: 5px 10px;
  border: 1px solid #eee;
  text-align: left;
}
tr:nth-child(odd){
  background: #fff;
}
tr:nth-child(even){
  background: #F7F7F7;
}

input{
  accent-color: #815454;
}